<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('./partials/nav') %>

<main>
  <div class="intro">
    <h1 class="mainH1">Welcome to This Land!</h1>
    <p>This is a fertile land and any creatures who live here will thrive. But first you need to make some! Use the creature creator to bring to life your dream prehistoric animals. Check out the creatures of other users and rate their ability to survive, thrive, and rule over all of This Land!</p>
    <img src="/images/img/icons/diplodocus.png" alt="diplodocus"  class="dino">
  </div>
</main>

<%- include('./partials/footer') %>
