h1 {
  color: #46072f;
  background-color: rgba(224, 209, 169, 0.8);
  padding: 15px;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  border-radius: 25%;
}

div.intro {
  height: 200px;
  width: 400px;
}

p {
  color: #46072f;
  font-size: 2.4rem;
  text-align: center;
  background-color: rgba(224, 209, 169, 0.8);
  margin: 0;
  padding: 20px;
  border-radius: 25%;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);   
}