<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>HELLOOOOOOOOOO</h1>
  <a href="/creatures/new">Add a new creature</a>
</main>

<%- include('../partials/footer') %>